*{
    font-family: Arial, sans-serif;
    border-collapse: collapse;
}
/*Properties for table one*/
.table-one,
.table-one tr,
.table-one td,
.table-one th{
    border: solid 1px #000;
    text-align: center;
    padding: 10px;
}
td:first-child{
    text-align: left;
}
/*Properties for table two and three*/
.table-two,
.table-two tr,
.table-two td,
.table-two th,
.table-three,
.table-three tr,
.table-three td,
.table-three th{
    width: 530px;
    font-size: 13px;
    padding: 10px;
}
.table-two th,
.table-three th,
.table-three td{
    border-bottom: solid 1px #808080;
    text-align: left;
}
/*The biggest table properties*/
.wrap-four{
    width: 600px;
    min-height: 100px;
    padding: 5px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0 10px #808080;
}
.table-four{
    width: 100%;
}
.table-four td{
    height: 40px;
    border-bottom: solid 1px #808080;
    vertical-align: top;
    padding-top: 5px;
}
.table-four tr:last-child td{
    border-bottom: none;
}
.table-four tr td:first-child{
    color: #f00;
}
.table-four tr:first-child td{
    color: #000;
    font-weight: bold;
}
/*Properties for closing circle*/
.close-four-circle{
    position: absolute;
    right: -6px;
    top: -9px;
    width: 18px;
    height: 18px;
    background: #000;
    border-radius: 100%;
    border: 2px solid #fff;
    box-shadow: 0 0 10px #808080;
}
.close-four{
    position: absolute;
    right: -4px;
    top: -4px;
    width: 10px;
    height: 10px;
}
.close-four:before, .close-four:after {
    position: absolute;
    content: "";
    height: 12px;
    width: 2px;
    background-color: #fff;
}
.close-four:before {
    transform: rotate(45deg);
}
.close-four:after {
    transform: rotate(-45deg);
}
/*Properties for div inside table four*/
.plus, .minus, .remove{
    width: 30px;
    height: 30px;
    background: #f00;
    float: left;
    margin: 2px;
    text-align: center;
    color: #fff;
    line-height: 30px;
    font-weight: bold;
}
/*Properties for signature under the table (footer)*/
.remove{
    width: 70px;
    height: 30px;
    text-transform: uppercase;
    font-size: x-small;
}
.total{
    text-align: right;
}
.total p:last-child{
    color: #808080;
    line-height: 5px;
}
.last-href{
    display: block;
    margin: 10px 210px 15px;
    text-decoration: none;
    color: red;
}

